table {
  width: 100%;
  table-layout: fixed;

  thead th {
    background: #5f5f5f;
    color: white;
  }

  td,
  th {
    padding: .5rem 1rem;
    text-align: center;
  }

  .name-cell{
    background: #eaeaea;
    color: #424242;
    font-weight: bold
  }

  .member-selection-checkbox{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-150%, -50%);
  }

  .narrow {
    padding: 0;
    width: 40px;
  }
}
