table {
  width: 100%;
  table-layout: fixed;

  thead {
    background: #5f5f5f;
    color: white;
  }

  td,
  th {
    padding: 1rem;
    text-align: center;
  }

  .narrow {
    width: 30px;
  }
}
